.button-primary {
    border-radius: 2px;
    background-color: $primary;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-color: #fe5b92;
    }

    &:focus {
        background-color: $positive;
    }

    &.disabled {
        cursor: default;
        background-color: #2d2e30;
        color: $light-gray-1;
    }
}

.button-secondary {
    border: 2px solid $primary;
    border-radius: 2px;
    background-color: $primary;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: $primary;

    &:hover {
        border-color: #fe5b92;
        color: #fe5b92;
    }

    &:focus {
        border-color: $positive;
        color:$positive;
    }

    &.disabled {
        cursor: default;
        border-color: $dark-gray-2;
        color: $dark-gray-2;
    }
}

.button-tertiary{
     border: 2px solid $white;
    border-radius: 2px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    &:hover {
        color: $mm-white;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.1);
         color: $mm-white;
    }

    &.disabled {
        cursor: default;
        border-color: #b2bac4;
         color: $mm-white;
    }
}