$noto-sans-scott-dir-path:'../assets/fonts';
$primary:#ff226c;
$secondary:#ff1ee4;
$sub:#1fbad6;
$sub-secondary:#17ffe3;
$black:#000;
$white:#fff;
$mm-black:#111;
$mm-white:#f2f2f2;
$dark-gray-1:#222;
$dark-gray-2:#2d2e30;
$light-gray-1:#999;
$error:#17ffe3;
$positive:#ff1ee4;
$neutral:#ff226c;

